#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #9F86C0;
}
body {
  background-color:#a995c4;
  padding-bottom: 100px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  background-color: #5E548E; 
}

.nav-link {
  color: #ffffff !important; 
  background-color: transparent !important;
}

.nav-link.active, .nav-link:hover {
  color: #ffd700 !important; 
  background-color: #3b1ea5 !important; 
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project img {
  width: 100%;
  height: auto;
}

.project a {
  display: block;
  margin-top: 10px;
  text-align: center;
}
.res-image {
  max-width: 20%;
  height: auto;
  display: block; 
}

.image-container {
  max-width: 600px; 
  margin: auto;
}

h2 {
  font-size: 2rem; 
  color: #333; 
  margin-top: 0;
  padding-top: 1rem; 
  text-align: left;
}

section {
  padding-top: 100px;
  padding-bottom: 50px;
}
.container {
  padding: 2rem; 
  margin-top: 60px;
}


.project-tile img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 1px solid #ccc;
}


.project-tile:hover .project-info {
  transform: translateY(0);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5E548E; 
  color: white;
  text-align: center;
  padding: 1rem 0;
}
.footer-link:hover {
    background-color: #3b1ea5; 
    padding: .20rem;

}
.project-info {
  position: absolute;
  padding: 0.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); 
  color: #fff;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}
.project-tile {
  flex: 1 1 250px;
  margin: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 300px;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  border: 1.5px solid #ffd700;
}
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 100px;
  margin-top: 50;
}
.project-link, .project-repo {
  display: inline-block;
  margin: 0.5rem 0.25rem;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #5E548E; 
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.project-link:hover, .project-repo:hover {
  background-color: #9F86C0; 
}
h3 {
  color:#ffd700
}
.about-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}



.about-container p {
  line-height: 1.6;
  color: #333; 
}

.about-image {
  height: auto;
  display: block;
  margin: 20px auto;
  max-width: 20%;
  height: auto;
  display: block;
}

.fs-2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.page-container {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}
h4 {
  padding-top: 40px;
  padding-bottom: 20px;
}
.resume-link {
  color: #3b1ea5;
  display: flex;
  justify-content: left;
}
.resume-link:hover {
  color: #ffd700; 

}