#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  background-color: #004085; 
}

.nav-link {
  color: #ffffff !important; 
  background-color: transparent !important;
}

.nav-link.active, .nav-link:hover {
  color: #ffd700 !important; /* color for active/hover state */
  background-color: #3b1ea5 !important; /* background color for active/hover */
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project img {
  width: 100%;
  height: auto;
}

.project a {
  display: block;
  margin-top: 10px;
  text-align: center;
}
.res-image {
  max-width: 20%;
  height: auto;
  display: block; 
}

.image-container {
  max-width: 600px; 
  margin: auto;
}




.project-tile {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.project-tile img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 1px solid #ccc;
}
.project-info {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
  color: #fff;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.project-tile:hover .project-info {
  transform: translateY(0);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333; 
  color: white;
  text-align: center;
  padding: 1rem 0;
}
